################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIController/bin/Debug
/APIController/obj/Debug
/APIController/obj/Debug
/APIController/obj/Debug
/APIController/obj/Debug/APIController.csproj.FileListAbsolute.txt
*.cache
